/* //........ Home ........// */
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

.home_page img {
    height: auto;
    width: 100%;
    background-position: center;
    position: relative;
    background-size: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home_txt {
    position: absolute;
    top: 37%;
    left: 5%;
}

.home_txt p {
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}

.home_txt h2 {
    font-family: "Fredoka One";
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--light-black);
}

.home_txt .home_label p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding-top: 10px;
}


.home_txt a {
    text-decoration: none;
    color: var(--white);
}

.home_txt button {
    background-color: burlywood;
    color: var(--white);
    border: none;
    padding: 15px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 20px;
}

.home_txt .bx-right-arrow-alt {
    font-size: 25px;
    padding-left: 5px;
}

.home_txt .home_social_icons a {
    text-decoration: none;
    color: var(--light-black);
    margin-right: 15px;
    font-size: 18px;
}


/* //........ Collections ........// */

.collections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 65px;
}

.content {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content:hover::after {
    opacity: 1;
}

.content img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content p {
    font-size: 1.6rem;
}

.img-content button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.img-content a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}

.img-content button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.img-content button:hover~.img-content a {
    color: var(--primary-color);
}

.img-content a:hover {
    color: var(--primary-color);
}

.content:hover .img-content {
    opacity: 1;
    top: 50%;
}


/* //........ Content 2 ........// */

.content2 {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content2:hover::after {
    opacity: 1;
}

.content2 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content2 p {
    font-size: 1.6rem;
}

.img-content2 a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}

.img-content2 button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.img-content2 button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.img-content2 button:hover~.img-content2 a {
    color: var(--primary-color);
}

.img-content2 a:hover {
    color: var(--primary-color);
}

.content2:hover .img-content2 {
    opacity: 1;
    top: 50%;
}


/* //........ Content 3 ........// */

.content3 {
    width: 330px;
    margin: 20px;
    position: relative;
}

.content3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}

.content3:hover::after {
    opacity: 1;
}

.content3 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}

.img-content3 p {
    font-size: 1.6rem;
}

.img-content3 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;
}

.img-content3 button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.img-content3 button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.img-content3 button:hover~.img-content3 a {
    color: var(--primary-color);
}

.img-content3 a:hover {
    color: var(--primary-color);
}

.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}

.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}


/* //........ seller  ........// */
#sellers {
    padding-top: 50px;
  }
  
  .seller {
    margin-bottom: 40px;
  }
  
  .seller h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
  }
  
  .best-seller {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .best-p1 {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .best-p1:hover {
    transform: translateY(-5px);
  }
  
  .best-p1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .best-p1-txt {
    padding: 15px;
    background-color: #fff;
  }
  
  .name-of-p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .rating {
    color: #f5a623;
    margin-bottom: 10px;
  }
  
  .price {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .colors {
    margin-bottom: 10px;
  }
  
  .buy-now button {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f05e8a;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-now button:hover {
    background-color: #f489af;
  }

  .container .best-p1 img {
    width: 100% !important;
    height: 200px !important;
  }
  a{
    text-decoration: none !important;
    color:#fff !important;

  }

/* .best-seller .add-cart button {
    padding: 5px 5px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
} */


/* //........ deal of week ........// */

.deal_of_week {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deal_of_week .names_of_brand p,
.deal_of_week .names_of_brand h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.deal_of_week .names_of_brand p {
    color: var(--grey);
}

.deal_of_week .countdown span {
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0.8rem 0 0 3rem;
}

.deal_of_week .countdown h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-black);
    line-height: 40px;
    margin: 0.8rem 0 0 3rem;
}

.deal_of_week .countdown p {
    margin: 0.8rem 0 0 3rem;
}

.deal_of_week .countdown a {
    text-decoration: none;
    color: var(--white);
    font-weight: 800;
}

.deal_of_week .countdown button {
    margin: 0.8rem 3rem;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 12px;
    transition: 0.4s;
}

.deal_of_week .countdown button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.deal_of_week .countdown button:hover~.countdown a {
    background: var(--white);
    color: var(--primary-color);
}

.countdown a:hover {
    color: var(--primary-color);
}
@media only screen and (max-width: 770px) {
    .best-seller {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
      }
      .best-p1 {
        width: 100%;
    }  
}
